<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Grim's Bars</h1>
  <h2>
    Welcome to Landon Grim's website of Columbus Bars
  </h2>
  <%= link_to "Bars", bars_path, class: "btn btn-lg btn-primary" %>
</div
